---
layout: default
---

<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">

			<div class="blog-post">
				<h1 class="blog-post-title-big">{{ page.title }}</h1>
				<p class="blog-post-meta">
					{{ page.date | date: "%Y-%m-%d" }}
					by {{site.author}}
					<span class="post-tags">
						{% if page.tags.size > 0 %}
						{% for cat in page.tags %}
						<a class="post-cat" href="{{ site.url }}/tags/#{{ cat }}">{{ cat }}</a>
						{% unless forloop.last %}
						<span>/</span>
						{% endunless %}
						{% endfor %}
						{% endif %}
					</span>
				</p>

				<div class="content markdown-body">
					{{content}}
				</div>
				
			</div><!-- /.blog-post -->
		</div><!-- /.blog-main -->

		{% include aside.html %}

	</div><!-- /.row -->
</main><!-- /.container -->