---
layout: default
---

<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">

			<div class="blog-post">
				<h1 class="blog-post-title-big">{{ page.title }}</h1>
				<p class="blog-post-meta">
					{{ page.date | date: "%Y-%m-%d" }}
					by {{site.author}}
					<span class="post-tags">
						{% if page.tags.size > 0 %}
						{% for cat in page.tags %}
						<a class="post-cat" href="{{ site.url }}/tags/#{{ cat }}">{{ cat }}</a>
						{% unless forloop.last %}
						<span>/</span>
						{% endunless %}
						{% endfor %}
						{% endif %}
					</span>

					{% if site.github_username %}


					<span class="blog-post-edit">
						<a href="{{ site.repo_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">Edit</a>
					</span>
					{% endif %}


				</p>

				<div class="content markdown-body">
					{{content}}
				</div>
				
			</div><!-- /.blog-post -->
			
			<!-- comment -->
			<div id='comments'>this is comments</div> 
			<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
			<script src="{{site.baseurl}}/dist/js/gitment.browser.js"></script>

			<script type="text/javascript">

				const gitment = new Gitment({
					id: window.location.pathname,
					owner: 'n00pme',
					repo: 'n00pme.github.io',
					oauth: {
						client_id: '0e060b81340ea5305377',
						client_secret: '38ff8a80a7df8ce635da3c10df61ba4419693a17',
					},

				})
				gitment.render('comments')

			</script>

			
		</div><!-- /.blog-main -->

		{% include aside.html %}

	</div><!-- /.row -->
</main><!-- /.container -->
